{% extends "base.html" %}

{% block content %}
  
    
    <hr/>
    <h2 class="title-style">No Notes yet. Start here:</h2>
    <div class="create-buttons">
        <button><a class="nav-link" href="{% url 'notes_mine:my-new-note' %}">New note</a></button>
                
    </div>

    
    <h1>Category notes:</h1>
    {% if category_notes %}
        

        {% for i in category_notes %}
            <ul>
                <li>Pavadinimas{{ i.category_notes.title }}</li>
            </ul>
                {% if i.user == user %}   
                    <button><a href="{% url 'notes_mine:my-note-update' i.pk %}">Edit</a></button> 
                {% endif %} 
            <button><a href="{% url 'notes_mine:my-note-delete' i.pk %}">Delete</a></button>
            
        {% endfor %}
    {% else %}
        <p>NO category selected</p>
    {% endif %}

        
    

{% endblock %}