{% extends "base.html" %}

{% load i18n %}





{% block content %}

<div class="create-buttons">
  <button><a class="nav-link" href="{% url 'notes_mine:my-new-note' %}">New note:</a></button>
  <button><a class="nav-link" href="#">New Category:</a></button>
  
</div>

  <h1 style="color: #3e9ec1;">You've came to the right place!</h1>
  <h3>Here you can: </h3>
    <ul>
      <li>Store your notes with pictures</li>
      <li>Edit notes</li>
      <li>Edit categories</li>
      <li>And many more!</li>
    </ul>


  <p>There are no notes created yet. You can start here: <a href="{% url 'notes_mine:my-new-note' %}" role="button">CREATE</a></p>
    
 
  
{% endblock %}



