{% extends "base.html" %}

{% load static %}

{% load i18n %}

{% block content %}
    <div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{%trans 'Delete note'%}</legend>
            <h2 style="color: #555555;">{%trans 'Are you sure you want to delete your category'%} <span style="color: orangered;"> {{ object.name }}</span>?</h2>
        </fieldset>
        <div class="form-group">
            <button class="btn " type="submit">{%trans 'Yes, delete'%}</button>
            <a class="btn " href="{% url 'notes_mine:mycategories-edit' %}">{%trans 'Cancel'%}</a>
        </div>
    </form>
    </div>
{% endblock content %}