{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <h1>'My notes:</h1>
    {% if note_list %}
      {% for note in note_list %}
    <!-- <hr> -->
        <ul>
          <li>{{note.title}}</li>
          <!-- <li>Title: {{a.note.photo}}</li> -->
          <li>{{note.text}}</li>
                    
            {% if note.user == user %}
              <div>
                  <a class="btn btn-secondary btn-sm mt-1 mb-1" href="#">Edit</a>
              </div>
            {% endif %}
          <br/>
          <a class="btn btn-primary" href="#" role="button">Preview</a>
        </ul>
      {% endfor %}
    {% else %}
      <p>There are no notes created yet. You can start here: <a class="btn btn-primary" href="#" role="button">CREATE</a></p>
    {% endif %}

  <a class="nav-link" href="#">'New note:'</a>
  
{% endblock %}