{% extends "base.html" %}

{% block content %}
    <h1>My category preview:</h1>
    <hr>
    
    <h2 class="title-style">{{object.name}}</h2>
    
        
        
        {% if object.user == user %}
        <div class="create-buttons">
            <button>
                <a class="nav-link" class="btn btn-secondary btn-sm mt-1 mb-1" href="#">Edit</a>
            </button>
            <button>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="#">Delete</a>
            </button>
            
        </div>
        {% endif %}
        <br/>
      </li>
    </ul>
{% endblock %}