{% extends "base.html" %}

{% load i18n %}

{% block content %}

{% load static %}

<div class="create-buttons">
  <button><a class="nav-link" href="{% url 'notes_mine:my-new-category' %}">New category</a></button>
  
  
</div>

  <h1 class="title-style">My categories</h1>
    {% if categories %}
    <div class="notes-screen">
      {% for category in categories %}
      <div class="note-screen">
        <hr>
        
        <div class="create-buttons">
          <button style="width: 50%;">
            <a href="{% url 'notes_mine:my-category' category.id %}" class="listed-ancor-items">{{ category.name }}</a>
          </button>
        </div>
        
        
        
                    
        {% if category.user == user %}
          <div class="create-buttons">
            <button style="width: 50%;">
              <a href="{% url 'notes_mine:my-category-update' category.id%}">EDIT</a>
            </button>
            <button>
              <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'notes_mine:my-category-delete' category.id %}">Delete</a>
          </button>
          </div>
        {% endif %}
        <br/>
        <!-- <div class="create-buttons">
          <button style="width: 50%;">
            <a href="{% url 'notes_mine:my-category-preview' category.id%}" role="button">PREVIEW</a>
          </button>
        </div> -->
        
        </div>
      {% endfor %}
    </div>
    {% else %}
      <p>There are no categories yet. You can start here: <a href="{% url 'notes_mine:my-new-category' %}" role="button">CREATE</a></p>
    {% endif %}

 
  
{% endblock %}




