{% extends "base.html" %}

{% block content %}
    <h1>My note preview:</h1>
    <hr>
    {% if object.photo %}
        <img src="{{ object.photo.url }}" class="card-img-top" alt="pic">
    {% else %}
        <p>no photo</p>
    {% endif %}
    <h2 class="title-style">{{object.title}}</h2>
    <h4>{{object.category}}</h4>
    <p>{{object.text}}</p>
    <ul>
        
        
        {% if object.user == user %}
        <div class="create-buttons">
            <button>
                <a class="nav-link" class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'notes_mine:my-note-update' object.id %}">Edit</a>
            </button>
            <button>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'notes_mine:my-note-delete' object.id %}">Delete</a>
            </button>
            
        </div>
        {% endif %}
        <br/>
      </li>
    </ul>
{% endblock %}