body {
  margin: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  font-family: Poppins;
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-top: 1rem;
  box-shadow: 0px 10px 13px -7px #595959, 5px 5px 15px 5px rgba(0,0,0,0);
}

.main-header .sidebar {
  color: #3e9ec1;
  width: 30%;
}



.main-header-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 8%;
}

header img {
  width: 95%;  
}

.main-header-logo-text {
  text-align: center;
}

.main-header-nav-stranger, .main-header-nav-user {
  display: flex;
  flex-direction: row;
}

.main-header-nav-stranger > a, .main-header-nav-user > a, .listed-ancor-items {
  text-decoration: none;
  font-size: 1.5rem;
  color: #555555;
  padding-left: 1rem;
  
}

.main-header-nav-stranger, .main-header-nav-user a:last-child {
  color: #3e9ec1;
}

.main {
  display: flex;
  flex-direction: row;
}

.main-section {
  display: flex;
  flex-direction: column;
}

.main-section .sidebar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #3e9ec1;
  padding: 1.5rem;
  width: 90%;
}

.main-section .sidebar div {
  display: flex;
  flex-direction: row;  
}

.main-section .sidebar div > ion-icon {
  height: 100%;
  padding-right: 0.3rem;
}

.main-section .sidebar div > a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #555555;
  padding-right: 1rem;  
}

.main-section .front {
  display: flex;
  flex-direction: column;
  width: auto;
}

.notes-screen {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-around;
  padding: 1rem;
  flex-wrap: wrap;
  
}

.note-screen {
  display: flex;
  flex-direction: column;
  width: 25%;
  /* padding: 0.5rem; */
  margin: 2rem;
  border: 1px solid #3e9ec1;
  color: #555555;  
  /* border-style: groove; */
  /* border-radius: 0.5rem; */
}

.note-screen > img {
  width: 100%;
}

.create-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* padding-top: 2.5rem; */
}
.create-buttons > button {
  background-color: #3e9ec1;
  /* border-radius: 0.5rem; */
  font-size: 1.5rem;
  padding: 1rem;
  width: 20%;
  margin: 0.3rem;
  border: none;
}

.create-buttons button > a {
  color: whitesmoke;
  text-decoration: none;

}



.title-style {
  color: #3e9ec1;
  padding-left: 3rem;
}

.content-section {
  width: 60%;
}