{% extends "base.html" %}

{% load static %}

{% load i18n %}

{% block content %}

  {% if form.errors %}
    <p class="info-message">{%trans 'Login error! Please try again'%} </p>
  {% endif %}
  
  {% if next %}
    {% if user.is_authenticated %}
      <p>{%trans 'You must login to see the contents of the page'%}</p>
    {% endif %}
  {% endif %}
  
  <div class="form-content-section">
  <h1 class="title-style">{%trans 'Login'%}</h1><br/>
  
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{%trans 'Username'%}: </td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{%trans 'Password'%}: </td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input class="btn" type="submit" value="Login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  
  <p>{%trans 'Have you forgotten your password'%}? <button class="btn"><a href="{% url 'password_reset' %}">{%trans 'Reset'%}</a></button></p>

  
  <br>
  <h2 class="title-style" style="color: #555555;">{%trans 'Or register'%} <button class="btn"><a href="{% url 'notes_mine:register' %}">{%trans 'Register'%}</a></button></h2>
</div>
  
{% endblock %}